dev_addr: 127.0.0.1:8000
site_name: Kristian Evers # evers.dev
site_description: My home on the internet
site_author: Kristian Evers
copyright: Copyright &copy; 2025 Kristian Evers

docs_dir: docs

nav:
- Home: index.md
#- Tactic: tactic.md
#- Photography: photography.md
- Geodesy:
  - geodesy/index.md
  - Helmert transformation: geodesy/helmert.md
- About:
  - cv.md

# Configuration
theme:
  name: material
  language: en
  #custom_dir: material/overrides
  features:
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - navigation.path
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Montserrat
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

markdown_extensions:
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true

extra:
  social:
    - icon: fontawesome/brands/mastodon
      link: https://mapstodon.space/@kbevers
    - icon: fontawesome/brands/strava
      link: https://www.strava.com/athletes/101084703
    - icon: fontawesome/brands/github
      link: https://github.com/kbevers/
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/kristianevers/
    - icon: fontawesome/brands/linkedin
      link: www.linkedin.com/in/kristian-evers-a0288650


extra_javascript:
  - javascript/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
